<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="DevExpress.Charts" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Data" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Diagram.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Map.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Mvvm" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Scaffolding.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Scaffolding.EFCore" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Scheduler.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.SpellChecker.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.TreeMap.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Utils" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.Dialogs.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.Scheduler" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.SchedulerReporting" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Accordion" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Carousel" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Charts" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Controls" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core.Extensions" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Diagram" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Dialogs" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Docking" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Gantt" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Gauges" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Core" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Printing" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.LayoutControl" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Map" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.NavBar" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Office" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.PdfViewer" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.PivotGrid" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Printing" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.PrismAdapters" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.PropertyGrid" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Reporting" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Ribbon" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.RichEdit" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Scheduling" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.SchedulingReporting" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.SpellChecker" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Spreadsheet" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.TreeMap" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.TypedStyles" version="22.1.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="22.1.3" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.29" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>